/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin-left: 50px;
	margin-right: 50px;
}

nav > ul {
	background-color: lightgrey;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
}

main{
	margin-left: 5px;
}

ul#language > li > a[hreflang]:before {
    background-size: 1em 0.75em;
    display: inline-block;
    width: 1em;
    height: 0.75em;
    content:"";
    margin-right: 0.25em;
}

ul#language > li > a[hreflang="it"]:before {
    background-image: url(../media/flag-it.svg);
}

ul#language > li > a[hreflang="fr"]:before {
    background-image: url(../media/flag-fr.svg);
}

ul#language > li > a[hreflang="en"]:before {
    background-image: url(../media/flag-en.svg);
}


li.href{
	color: darkblue;
}

li > ul > li{
	padding-left: 10px
}

li >a > img{
	width: 13px;
}

ul{
	list-style-type:none;
}

header{
	margin-top: 20px;
}
header > a > img{
    padding-top: 5px;
    padding-left: 5px;
	float: left;
	width: 80px;
}
h1{
	padding-left: 90px;
	margin: 0;
    padding-top: 15px;
	height: 70px;
    font-size: 40px;
	background-color: darkblue;
	color: white;
}

h2:before{
    white-space: pre;
}
h2 {
	counter-reset: h3counter;
	padding-top: 20px;
}

nav > h2{
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 8px;
	clear: left;
}

#font-size-form{
}
h3{
	border-bottom: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}
h3:before {
	content: counter(h3counter) " ";
	counter-increment: h3counter;
}

figure.float-left > img {
    width: 200px;
}
 
.float-left {
    font-size: 10px;
    color: lightgrey;
    float: left;
    word-wrap: break-word;
    width: 220px;
	padding-bottom: 20px;
}

h4 {
	padding-bottom: 10px;
	font-size: 14px;
}

footer {
	border-style: dashed;
	margin-top: 15px;
	text-align: left;
	border-width: 1px;
	font-size: 14px;
	font-style:italic;
}

span.footer-date {
	/* clear: left; */
	float: right;
}

/* images */
small {
	color: lightgrey;
	font-size: 10px;
}

section > ul > li {
	color: dodgerblue;
	font-size: 14px;
}


section > ul > li > ul > li{
	color: black;
	list-style: inside;

}
figcaption {
	color: lightgrey;
	font-size: 12px;
}

#Ti-Description{
	font-size: 12px;
	padding-top: 15px;
}

ol > li {
	font-size: 14px;
	list-style-position: inside;
}

/* text */
p{
	font-size: 14px;
}



/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}
