/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin-left: 50px;
	margin-right: 50px;
    max-width: 1024px;
}

main {
	margin-left: 5px;
}

/*Navigation*/
nav > ul {
    list-style-type:none;
	background-color: lightgrey;
	border-style: solid;
	border-width: 1px;
	border-color: #0563a2;
	font-size: 1em;
	padding: 5px 5px 5px 5px;
}

nav > ul ul {
    list-style-type:none;
}

ul#language > li > a[hreflang]::before {
    background-size: 1em 0.75em;
    display: inline-block;
    width: 1em;
    height: 0.75em;
    content:"";
    margin-right: 0.25em;
}

ul#language > li > a[hreflang="it"]::before {
    background-image: url(../media/flag-it.svg);
}

ul#language > li > a[hreflang="fr"]::before {
    background-image: url(../media/flag-fr.svg);
}

ul#language > li > a[hreflang="en"]::before {
    background-image: url(../media/flag-en.svg);
}

a {
	color: black;
    text-decoration: underline;
}

nav a {
    color: #0060a0;
}

nav li > ul > li {
	padding-left: 1em;
}

/*Header */
header {
	margin-top: 20px;
}

header > a > img {
    padding-top: 5px;
    padding-left: 5px;
	float: left;
	width: 6em;
	height: 100%;
}

h1 {
	padding-left: 2.6em;
	margin: 0;
    padding-top: 0.3em;
	padding-bottom: 0.3em;
    font-size: 2.5em;
	background-color: #0060a0;
	color: white;
}

h2:before {
    white-space: pre;
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	counter-reset: h3counter;
	padding-top: 20px;
}

nav > h2 {
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 8px;
	clear: left;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

h3:before {
	content: counter(h3counter) " ";
	counter-increment: h3counter;
}

h4 {
	font-size: 1em;
	font-weight: bold;
}

/*footer, label, lettering Layout*/
main footer {
	border-style: dashed;
	margin-top: 1em;
	text-align: left;
	border-width: 1px;
	font-size: 1em;
	font-style: italic;
	padding: 3px 3px 3px 3px;
}

span.footer-date {
	float: right;
}

small {
	display: block;
	margin-top: 1em;
	font-size: 0.75em;
}

/* Calculator */
iframe#calculator {
    width: 50vw;
    max-width: 512px;
    height: calc(50vw * 1.05);
    max-height: calc(512px * 1.05 + 15px);
}

/*listing <h3>Taschenrechnervarianten</h3>*/

main dl > dt {
	color: #0060a0;
    font-weight: bold;
}

main dl > dd {
	display: list-item;
    margin-left: 2em;
	color: #000000;
    font-weight: normal;
	list-style-image: url('../media/crosshair.png');
}

ol > li {
	list-style-position: inside;
}

/* text */
p {
	font-size: 1em;
    margin: .5em 0 .5em 0;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	background-color: #0060a0;
	color: white;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #dbe6ef;
	border-bottom: 1px solid #bdd0e4;
	border-top: 1px solid #bdd0e4;
}

tr {
	text-align: center;
	height: 2.5em;
}

td {
	padding-left: 0.5em;
}

td:first-child {
	text-align: left;
	font-weight: bold;
}

/*figure, video, img Layout*/
figure > figcaption {
	font-size: 0.75em;
	color: grey;
}

figure.float-left {
	float: left;
	width: 25%;
	max-width: 300px;
	margin: 10px 10px 15px 10px;
}

figure.float-left > img {
	width: 100%;
	height: 100%;
}

figure.float-left > figcaption {
	word-wrap: break-word;
	width: 100%
}

figure.video > video {
	width: 100%;
	max-width: 800px;
}
iframe#yt-video {
    width: calc(100vw - 120px);
    max-width: 100%;
    height: calc((100vw - 120px) * (9/16));
    max-height: calc(1024px * (9/16));
}

figure#svg-zeitgewinn > object {
	width: 100%
}

/*<!-- Schriftgrössenwechsler: optionale Aufgabe -->*/
#font-size-form {
	float: right;
}

#font-size-form > label, #font-size-form > input, #font-size-form > output{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
    margin-top: 1em;
}

#font-size-form > input {
	width: 150px;
	margin-left: 1em;
	margin-right: 1em;
}

/* forms */
input:not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="checkbox"]):not([type="file"]),
 textarea {
    display: block;
	background-color: #f4f4f4;
	border: none;
	border-bottom: 1px solid black;
	padding: 3px;
	width: 100%;
	font-family: inherit;
	font-size: 1em;
}

input:not([type="radio"]):not([type="submit"]):not([type="reset"]):not([type="checkbox"]):not([type="file"]):focus,
textarea:focus {
	outline: none;
	border-bottom: 1px solid #0060a0;
	color: #0060a0;
}

form#new-author label {
	display: block;
	margin-bottom: 10px;
	color: grey;
}

select {
	background: #f4f4f4 linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06)) repeat scroll 0 0;
	height: 28px;
	width: 100%;
	border-radius: 5px;
}

fieldset {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 3px;
}

input#search-term {
	display: inline;
	margin: 0 5px 0 0;
	width: 15em;
}

input[type="file"] {
	display: block;
}

input[type="reset"], button {
	background-color: #0060a0;
	color: white;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px grey;
	-moz-box-shadow: 0 0 10px grey;
	box-shadow: 0 0 10px grey;
	padding: 5px 10px;
	margin: 10px 10px 0 0;
	font-size: 1em;
	font-weight: bolder;
}

input[type="reset"]:hover, button:hover {
	color: lightgrey;
}

input[type="reset"]:active, button:active {
	color: lightgrey;
	outline: none;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
}

button#searchbutton:before {
	background-image: url(../media/icon-search.svg);
	background-size: 1em 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	content:"";
	margin-right: 0.5em;
}

fieldset#legal > p{
	color: #808080;
	font-size: 0.8em;
}

/*Error*/
.input-error {
	border: 2px solid #ff9494 !important;
}


/* bottom endfooter */
body > footer {
	border: none;
	background-color: #0060a0;
	color: white;
    margin-top: 2em;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

body > footer a {
	color: white;
}

body > footer p.licence {
	font-size: 12px;
}
